aside.sidebar {
    @apply bg-inv-2 h-full border border-solid border-inv-2 rounded-xl;
    display: flex;
    flex-direction: column;

    .body {
        display: flex;
        flex-direction: column;
        gap: theme(padding.2);
        padding: theme(padding.4) theme(padding.2);
    }

    .section {
        @apply bg-primary-800/90;

        padding: theme(padding.2);
        border-radius: theme(borderRadius.md);

        ::marker {
            content: "";
        }
    }
}